@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}

<div class="icon-main">
    <ul>
        <li id="chat">Chatting</li>
        <li id="X"><i class="fas fa-times" title="Đóng tab"></i></li>
    </ul>
</div>
<div class="main">
    <div id="user1">Nguyễn Văn A</div>
    <div id="user2">Nguyễn Văn B</div>
    <div id="user3">Phạm Thị An</div>
    <div id="user4">Phạm Thùy Dương</div>
    <div id="user5">Nguyễn Văn B</div>
    <div id="user6">Phạm Tuấn Anh</div>
    <div id="user7">Lê Anh Tuấn</div>
    <div id="user8">Nguyễn ThùyTrang</div>
    <div id="user9">Trịnh Thị Thúy</div>
    <div id="user10">Trần Văn Vũ</div>
    <div id="user10">Vũ Lâm Anh</div>
    <div id="user11">Nguyễn Văn A</div>
    <div id="user12">Nguyễn Văn B</div>
    <div id="user13">Phạm Thị An</div>
    <div id="user14">Phạm Thùy Dương</div>
    <div id="user15">Nguyễn Văn B</div>
    <div id="user16">Phạm Tuấn Anh</div>
    <div id="user17">Lê Anh Tuấn</div>
    <div id="user18">Nguyễn ThùyTrang</div>
    <div id="user19">Trịnh Thị Thúy</div>
    <div id="user20">Trần Văn Vũ</div>
    <div id="user21">Vũ Lâm Anh</div>
    <div id="user22">Nguyễn Văn A</div>
    <div id="user23">Nguyễn Văn B</div>
    <div id="user24">Phạm Thị An</div>
    <div id="user25">Phạm Thùy Dương</div>
    <div id="user26">Nguyễn Văn B</div>
    <div id="user27">Phạm Tuấn Anh</div>
    <div id="user28">Lê Anh Tuấn</div>
    <div id="user29">Nguyễn ThùyTrang</div>
    <div id="user30">Trịnh Thị Thúy</div>
    <div id="user31">Trần Văn Vũ</div>
    <div id="user32">Vũ Lâm Anh</div>
    <div id="user33">Nguyễn Văn A</div>
    <div id="user34">Nguyễn Văn B</div>
    <div id="user35">Phạm Thị An</div>
    <div id="user36">Phạm Thùy Dương</div>
    <div id="user37">Nguyễn Văn B</div>
    <div id="user38">Phạm Tuấn Anh</div>
    <div id="user39">Lê Anh Tuấn</div>
    <div id="user40">Nguyễn ThùyTrang</div>
    <div id="user41">Trịnh Thị Thúy</div>
    <div id="user42">Trần Văn Vũ</div>
    <div id="user43">Vũ Lâm Anh</div>
    <div id="user44">Nguyễn Văn A</div>
    <div id="user45">Nguyễn Văn B</div>
    <div id="user46">Phạm Thị An</div>
    <div id="user47">Phạm Thùy Dương</div>
    <div id="user48">Nguyễn Văn B</div>
    <div id="user49">Phạm Tuấn Anh</div>
    <div id="user50">Lê Anh Tuấn</div>
    <div id="user51">Nguyễn ThùyTrang</div>
    <div id="user52">Trịnh Thị Thúy</div>
    <div id="user53">Trần Văn Vũ</div>
    <div id="user54">Vũ Lâm Anh</div>
    <div id="user55">Nguyễn Văn A</div>
    <div id="user56">Nguyễn Văn B</div>
    <div id="user57">Phạm Thị An</div>
    <div id="user58">Phạm Thùy Dương</div>
    <div id="user59">Nguyễn Văn B</div>
    <div id="user60">Phạm Tuấn Anh</div>
    <div id="user61">Lê Anh Tuấn</div>
    <div id="user62">Nguyễn ThùyTrang</div>
    <div id="user63">Trịnh Thị Thúy</div>
    <div id="user64">Trần Văn Vũ</div>
    <div id="user65">Vũ Lâm Anh</div>

</div>

<div class="search">
    <i class="fas fa-search"></i>
    <div class="write">
        <input type="text" name="find" placeholder="Tìm kiếm">
    </div>
</div>
<div class="chat-wrap">
    <!--
        <div class="tab-chat">
            <div class="name">
                <ul>
                    <li id="name-user"></li>
                    <li id="X-tab-chat"><i class="fas fa-times" title="Đóng tab"></i></li>
                </ul>
            </div>

            <div class="message">
                mnpq
            </div>

            <input type="text" name="find" placeholder="Nhập tin nhắn">

            <div class="send">
                <span><i class="fas fa-images "></i></span>
                <i class="fas fa-paperclip "></i>

                <i class="fas fa-location-arrow  " id="icon-send"></i>
            </div>


        </div> -->

</div>